selector.elementor-sticky--effects{
background-color: rgb(243, 245, 247)!important;
box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
}

selector{
transition: background-color 1s ease !important;
}
selector.elementor-sticky--effects{
min-height: 70px;
}
selector{
transition: min-height 1s ease !important;
}

.logo img {
max-width: 155px;
height: auto;
transition: all 0.8s ease;
}
.elementor-sticky--effects .logo img {
max-width: 135px;
height: auto;
}
